go 1.26.0

use (
	agent
	alarm-compute
	alarm-manage
	alarm-server
	cgi
	cmdb
	collector
	common
	dac
	data-cache
	data-compute
	data-query
	data-store
	etrpc-go
	scheduler
	trpcprotocol/agent
	trpcprotocol/alarm-compute
	trpcprotocol/alarm-manage
	trpcprotocol/alarm-server
	trpcprotocol/cgi
	trpcprotocol/cmdb
	trpcprotocol/collector
	trpcprotocol/data-cache
	trpcprotocol/data-compute
	trpcprotocol/data-query
	trpcprotocol/scheduler
	trpcprotocol/tboxmonitor
)
