# config for mysql
MYSQL_ADDR=9.135.223.44:3306
MYSQL_USER=root
MYSQL_PASSWORD=idc#2024!tecent28
MYSQL_DATABASE=open-tbos
# config for redis
REDIS_ADDR=9.135.221.249:6380
REDIS_PASSWORD=idc2024Tecent28
# config for kafka
KAFKA_ADDR=21.6.163.12:9092
KAFKA_POINT_TOPIC=agent_points
KAFKA_ALARM_PRODUCE_TOPIC=tbos-alarm-produce
KAFKA_ALARM_VALID_TOPIC=tbosRuleValid
KAFKA_ALARM_PUSH_TOPIC=tbos-alarm-push
# config for influxdb
INFLUXDB_ADDR=127.0.0.1:8082
INFLUXDB_USER=root
INFLUXDB_PASSWORD=123456
INFLUXDB_DBNAME=tbos
INFLUXDB_POINT_MEASUREMENT=tbos-point

# define port
LOCAL_IP=127.0.0.1
PORT_AGENT=9100
PORT_COLLECTOR=9101
PORT_CMDB=9102
PORT_SCHEDULER=9103
PORT_DATA_COMPUTE=9104
PORT_DATA_CACHE=9105
PORT_DATA_STORE=9106
PORT_DATA_QUERY=9107
PORT_ALARM_COMPUTE=9108
PORT_ALARM_MANAGE=9109
PORT_ALARM_SERVER=9110
PORT_CGI=9111
PORT_CGI_WS=9112