# config for mysql
MYSQL_ADDR=127.0.0.1:3306
MYSQL_ROOT_PASSWORD=tbos88888888
MYSQL_USER=tbos
MYSQL_PASSWORD=tbos88888888
MYSQL_DATABASE=tbos
# config for redis
REDIS_ADDR=127.0.0.1:6379
REDIS_PASSWORD=tbos88888888
# config for kafka
KAFKA_ADDR=127.0.0.1:9092
KAFKA_POINT_TOPIC=agent-points
KAFKA_ALARM_PRODUCE_TOPIC=tbos-alarm-produce
KAFKA_ALARM_VALID_TOPIC=tbos-rule-valid
KAFKA_ALARM_PUSH_TOPIC=tbos-alarm-push
# config for influxdb
INFLUXDB_ADDR=127.0.0.1:8082
INFLUXDB_USER=root
INFLUXDB_PASSWORD=tbos88888888
INFLUXDB_DBNAME=tbos
INFLUXDB_POINT_MEASUREMENT=tbos-point

# define port
LOCAL_IP=127.0.0.1
PORT_AGENT=9100
PORT_COLLECTOR=9101
PORT_CMDB=9102
PORT_SCHEDULER=9103
PORT_DATA_COMPUTE=9104
PORT_DATA_CACHE=9105
PORT_DATA_STORE=9106
PORT_DATA_QUERY=9107
PORT_ALARM_COMPUTE=9108
PORT_ALARM_MANAGE=9109
PORT_ALARM_SERVER=9110
PORT_CGI=9111
# config for dac (security/access-control service)
PORT_DAC=9113
# web frontend port
PORT_WEB=8080
POD_IP=0.0.0.0
