.el-process-log .i-collapse .log-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 26px;
}
.el-process-log .i-collapse .log-item__index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  line-height: 16px;
  border-radius: 50%;
  border: 2px solid #3ecc36;
  font-size: 13px;
  color: #3ecc36;
  margin-right: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 500;
}
.el-process-log .i-collapse .log-item__type {
  font-size: 14px;
  color: #333;
  margin: 0;
}
.el-process-log .i-collapse .log-item__user {
  margin-left: 10px;
  font-size: 14px;
  color: #999;
  width: 180px;
}
.el-process-log .i-collapse .log-item__time {
  font-size: 14px;
  color: #999;
  width: 150px;
}
.el-process-log .i-collapse .mail-info {
  width: 100%;
  font-size: 14px;
}
.el-process-log .i-collapse .mail-header {
  line-height: 40px;
  color: #999;
}
.el-process-log .i-collapse .mail-content {
  border: 1px solid #f0f0f0;
  padding: 5px 15px 15px;
}
.el-process-log .i-collapse /deep/ .el-collapse-item__arrow {
  margin-right: 24px;
}
.el-process-log .log-item .log-item__user {
  margin: 0 10px 0 auto;
}
.el-process-log .i-log .el-collapse-item__title {
  width: 100% !important;
}

.el-process-log .el-form-item__label {
  line-height: 40px;
}
.el-process-log .el-form-item__content {
  line-height: 40px;
}