
<script type='text/javascript' src='/static/thirdparty/vue-2.6.8/vue.js'></script> 
<script type='text/javascript' src='/static/thirdparty/vue-i18n-5.0.3/vue-i18n.min.js'></script> 
<script type='text/javascript' src='/static/thirdparty/tnwebui/index.js'></script> 
<script type='text/javascript' src='/static/thirdparty/systemjs/system.js'></script> 
<script type='text/javascript' src='/static/thirdparty/systemjs/use-default.js'></script> 
<script type='text/javascript' src='/static/thirdparty/systemjs/named-exports.js'></script> 
<script type='text/javascript' src='/static/thirdparty/systemjs/named-register.js'></script> 
<script type='text/javascript' src='/static/thirdparty/systemjs/amd.js'></script> 
<script type='text/javascript' src='/static/thirdparty/systemjs/module-types.js'></script> 
<link href='/static/devstyle/shows.css' rel='stylesheet'>

